$not-available-opacity: 0.5;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;

  box-sizing: border-box;
  border: 2px solid white;
  color: white;
  cursor: pointer;

  &.big {
    height: 80px;
    width: 80px;
  }

  &.disabled {
    pointer-events: none;
    opacity: $not-available-opacity;
  }

  &:active {
    opacity: $not-available-opacity;
  }
}
