<div class="carousel" [ngStyle]="{'background-color': backgroundColor}">
  <div class="carousel__header">
    <div class="buttons-container">
      <app-button [icon]="'keyboard_arrow_left'"
                  (clickEventEmitter)="menu()">
      </app-button>
      <app-button [icon]="'refresh'"
                  [disabled]="isStartMode()"
                  (clickEventEmitter)="reset()">
      </app-button>
    </div>
  </div>

  <div class="carousel__content">
    <div class="slide">
      {{ entity() }}
    </div>
  </div>

  <div class="carousel__footer">
    <div class="buttons-container gap-30">
      <app-button [icon]="'arrow_back'"
                  [big]="true"
                  [disabled]="!canBack()"
                  (clickEventEmitter)="back()">
      </app-button>
      <app-button [icon]="'arrow_forward'"
                  [big]="true"
                  [disabled]="!canNext()"
                  (clickEventEmitter)="next()">
      </app-button>
    </div>
  </div>
</div>
